.chat-container {
    display: flex;
    flex: 1; /* 占用所有剩余空间 */
    overflow: auto; /* 允许滚动 */
    width: 100%;
    /* 容器宽度为100% */
    height: 640px;
}
.chatroom-container {
    display: flex;
    /* 容器宽度为100% */
    width: 100%;
    background-color: gray;
}

.chat-content {
    display: flex;
    width: 100%;
    /* 启用Flexbox布局 */
    align-items: center;
    /* 垂直居中对齐 */
    width: 100%;
    background-color: #F5F5F5;
    /* 容器宽度为100% */
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
}

.message-bubble {
    display: inline-block;
    max-width: 320px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    word-break: keep-all;
}

.message-bubble>pre{
    margin: 0;
    white-space: break-spaces;
    word-break: break-word;
    display: inline-block;
}
.message-bubble>a{
    white-space: break-spaces;
    word-break: break-word;
    text-decoration-line: none;
    color: #4a6087;
}
.message-bubble>a:visited{
    color: #4a6087;
}
.message-bubble-img {
    max-height: 320px;
}

.user-name {
    display: inline-block;
    max-width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: gray;
}

.my-message {
    background-color: #95EC69;
    align-self: flex-end;
}

.message-time-text{
    color: gray;
    font-size: 16px;
    margin: 10px;
    display: flex;
    align-self: center;
}

.message-notice-text{
    color: gray;
    font-size: 16px;
    margin: 10px;
    display: flex;
    align-self: center;
}

.message-download{
    color: gray;
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
}

.message-download-me{
    margin-right: 80px;
    align-self: flex-end;
}

.message-download-other{
    margin-left: 80px;
    align-self: flex-start;
}

.other-message {
    background-color: white;
}
.my-message-container{
    align-self: flex-end;
}
.other-message-container{
    align-self: flex-start;
}
.file-upload {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-grow: 0;
    /* 不允许label标签增长 */
    margin-right: 10px;
    /* 与输入框之间的间距 */
}

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.chat-toast {
    border: none;
    border-radius: 6px;
}

.chat-inputs {
    display: flex;
    /* 启用Flexbox布局 */
    align-items: center;
    background-color: #F5F5F5;
    /* 垂直居中对齐 */
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* 容器宽度为100% */
}

.send-img-button {
    display: inline-block;
    padding: 5px 10px;
    color: black;
    background-color: #bbb;
    border: none;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 24px;
}

#imageInput {
    color: gray;
    font-size: 16px;
}

.input-container {
    flex-grow: 1;
    /* 允许输入框自动填充剩余空间 */
    margin-right: 10px;
    font-size: 16px;
    /* 与发送按钮之间的间距 */
    height: 40px;
}

.send-btn {
    flex-grow: 0;
    /* 不允许按钮增长 */
    border-radius: 6px;
    border-width: 0px;
    font-size: 16px;
    font-weight: bold;
    min-width: 72px;
    padding: 6px;
    height: 40px;
    margin-right: 10px;
    background-color: #95EC69;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,

.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.room-list {
    display: flex;

    flex-grow: 1;
    min-width: 120px;
    min-height: 32px;
    font-size: 16px;
    margin-top: 10px;
    min-height: 36px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.user-count{
    display: flex;
    color: seagreen;
    min-width: 64px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 6px;
    border-width: 0;
    font-size: 16px;
}

.user-count:hover {
    background-color: lightgray;
}

.user-item {
    display: flex;
    color: black;
    font-weight: bold;
    min-width: 64px;
    font-size: 16px;
    border-radius: 6px;
    border-width: 0;
    padding: 8px;
}

.user-item:hover {
    background-color: dimgray;
}
.drop-menu-btn {
    flex-grow: 0;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    border-width: 0;
    font-size: 16px;
    padding: 8px;
    margin: 10px;
    /*background-color: #95EC69;*/
}

.drop-menu-btn:hover {
    background-color: lightgray;
}


.room-intro {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    color: black;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.select-text {
    border-radius: 6px;
    min-height: 36px;
    border: 1px solid #ccc;
    color: black;
    font-size: 16px;
    min-width: 120px;
}

.select-text-selected {
    border-radius: 6px;
    border: 1px solid #ccc;
    color: green;
    font-size: 16px;
    min-width: 120px;
}

.message-container {
    display: flex;
    align-items: flex-start; /* 使内容顶部对齐 */
}

.avatar {
    width: 50px;  /* 头像宽度 */
    height: 50px; /* 头像高度 */
    margin-right: 10px; /* 头像和文本之间的间距 */
    margin-left:10px;
    border-radius: 50%; /* 头像为圆形 */
}

.text-container {
    display: flex;
    flex-direction: column;
}
