body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.input-group {
    display: flex;
    width: 100%;
    /* Make sure the input group takes full width of the container */
    margin: 10px 0;
}

.input-group label {
    white-space: nowrap;
    /* Prevents label from wrapping */
    padding-right: 10px;
    /* Spacing between label and input */
    flex-shrink: 0;
    /* Prevents label from shrinking */
}

input[type="text"] {
    flex-grow: 1;
    /* Allows input to take up the rest of the space in the input group */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    min-width: 320px;
    min-height: 36px;
    border-radius: 4px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    min-width: 160px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.roomList {
    display: flex;
    flex-grow: 1;
    min-width: 200px;
    font-size: 16px;
    margin-top: 10px;
    min-height: 36px;
    margin-left: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
    /* Space between label and input */
    min-width: 120px;
}
.title {
    margin-bottom: 20px;
    color: gray;
}
